.skills {
    color:red;
}

.status {
    color:brown;
}
.intro {
    color:blueviolet;
}

body {
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
    margin: 0;
    background-color: #f4f4f9;
    text-align: justify;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffff;
    padding: 20px;
    box-shadow:0 6px 10px rgba(0, 0, 0, 1);
z-index:1000;
}
main{
    padding-top:170px;
}


